# Firearm Seizure Data
## Chase Lane

I chose the Firearm Seizure Data because of the extensive list of weaponry confiscated it includes and that it interests me. This can provide a unique perspective on the neighborhoods as this isn't something generally thought about when considering a neighborhood. It aligns with our overall theme of safety.

In [10]:
import pandas as pd
firearm = pd.read_csv("https://data.wprdc.org/datastore/dump/e967381d-d7e9-48e3-a2a2-39262f7fa5c4")
firearmDF = pd.DataFrame(firearm)

firearmDF.head()

,address,total_count,other_count,pistol_count,revolver_count,rifle_count,shotgun_count,year,month,dow,neighborhood,council_district,ward,tract,public_works_division,police_zone,fire_zone,latitude,longitude
0,"1700 BLOCK ARLINGTON AVE PITTSBURGH, PA 15210",2,0,1,1,0,0,2015,1,0,Mount Oliver Borough,3.0,0.0,4.200317e+10,0.0,3,4-6,40.417619,-79.986436
1,"BREVET WAY & MINTON ST PITTSBURGH, PA 15204",1,0,1,0,0,0,2015,1,0,Sheraden,2.0,20.0,4.200356e+10,5.0,6,1-16,40.456904,-80.052328
2,"TERRACE ST & WHITRIDGE ST PITTSBURGH, PA 15213",1,0,1,0,0,0,2015,1,0,Terrace Village,6.0,4.0,4.200305e+10,3.0,2,2-10,40.441185,-79.968527
3,"3500 BLOCK GERBER AVE PITTSBURGH, PA 15212",1,0,1,0,0,0,2015,1,0,Brighton Heights,1.0,27.0,4.200327e+10,1.0,1,1-14,40.479530,-80.033477
4,"7500 BLOCK KELLY ST PITTSBURGH, PA 15208",1,0,1,0,0,0,2015,1,0,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN

In [9]:
# seeing how many neighborhoods are contained in the dataset
neighborhoods = []
for n in firearmDF["neighborhood"]:
    if n not in neighborhoods:
        neighborhoods.append(n)
len(neighborhoods)

89

From the dataset we can obtain useful information such as the neighborhood where the firearm was confiscated at, the type of firearm, and the year. By using the number of firearms collected per neighborhood, we can see which neighborhood is considered the safest. I will also break the data down by year and see if there are any significant changes throughout the years.

In [11]:
min(firearmDF["year"])

2015

In [12]:
max(firearmDF["year"])

2022